<!DOCTYPE html> 
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="shortcut icon" href="../static/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body id="contatos">
    <header>
        <nav>
            <div class="logo">
            <img src="../static/imagens/Logo200.png" alt="Logo">
            </div>
    
            <ul class="menu">
                <li><a href="{{ url_for ('homepage') }}">Home</a></li>
                <li><a href="{{ url_for ('sobrenos') }}">Sobre-nós</a></li>
                <li><a href="{{ url_for ('noticias') }}">Notícias</a></li>
                <li><a href="{{ url_for ('doadores') }}">Doadores</a></li>
                <li><a href="{{ url_for ('login') }}" class="link-login">Entre ou Cadastre-se</a></li>
            </ul>
        </nav>
    </header>
    <main class="normal">
            <h1>Contate-nos</h1>
            <div id="contatos">
                <div class="contatos">
                    <i><img src="../static/imagens/chamada-telefonica.png" alt="icone telefone" class="icone"></i><br><h2>Telefone</h2><br><p>(12)9999-9999</p>
                </div>
                <div class="contatos">
                    <i><img src="../static/imagens/marcador.png" alt="icone localização" class="icone"></i><br><h2>Endereço</h2> <br> <p>Lorem ipsum dolor, 42 <br> Natividade da Serra - SP</p>
                </div>
                <div class="contatos">
                    <i><img src="../static/imagens/envelope.png" alt="icone email" class="icone"></i><br><h2>Email</h2><br><p>lorem@ipsum.com</p>
                </div> 
                <div class="contatos">
                    <i><img src="../static/imagens/relogio.png" alt="icone horário" class="icone"></i><br><h2>Horário de funcionamento</h2><br><p>Seg - Sex 7:00 - 21:30 <br> Sex - Dom fechado</p>
                </div>
            </div>
        <aside></aside>
    </main>
    <footer class="fixed-footers"><p>Site criado por <a href="https://github.com/Milena-Aphiner/Projeto-Integrador-I" target="_blank">DRP03-Grupo 24</a> para <a href="https://univesp.br/home_page_full" target="_blank">UNIVESP</a>.</p></footer>
</body>