<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="shortcut icon" href="../static/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
            <img src="../static/imagens/Logo200.png" alt="Logo">
            </div>
    
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="sobrenos.html">Sobre-nós</a></li>
                <li><a href="noticias.html">Notícias</a></li>
                <li><a href="doadores.html">Doadores</a></li>
                <li><a href="login.html" class="link-login">Entre ou Cadastre-se</a></li>
            </ul>
        </nav>
    </header>
</body>