<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="../static/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
<header>
    <nav>
        <div class="logo">
        <img src="../static/imagens/Logo200.png" alt="Logo">
        </div>

        <ul class="menu">
            <li><a href="{{ url_for ('sobrenos') }}">Sobre-nós</a></li>
            <li><a href="{{ url_for ('noticias') }}">Notícias</a></li>
            <li><a href="{{ url_for ('doadores') }}">Doadores</a></li>
            <li><a href="{{ url_for ('contatos') }}">Contatos</a></li>
            <li><a href="{{ url_for ('login') }}"class="link-login">Entre ou Cadastre-se</a></li>
        </ul>
    </nav>
</header>
<main>
    <section id="sec01">
        <article id="apresentação">
            <h1>Bem-vindo à <br> Biblioteca Escolar: <br>um mundo de <br> conhecimento</h1>
            <p>Descubra os livros mais lidos, escreva resenhas, controle empréstimos <br> e devoluções, faça login como aluno, professor ou bibliotecário e participe dessa jornada de leitura e doação de livros.</p>
            <a href="{{ url_for ('login')  }}" class="link-login">Entre ou Cadastre-se</a>
        </article>
    </section>
    <section id="sec02">
        <h2>Ajude a incentivar a leitura</h2>
        <p>Faça uma doação de livro e enriqueça o mundo com conhecimento!</p>
        <a href="{{ url_for ('doadores') }}">Doar</a>
    </section>
</main>
<footer><p>Site criado por <a href="https://github.com/Milena-Aphiner/Projeto-Integrador-I" target="_blank">DRP03-Grupo 24</a> para <a href="https://univesp.br/home_page_full" target="_blank">UNIVESP</a>.</p></footer>
</body>
</html>