<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="../static/imagens/favicon.ico" type="image/x-icon">
</head>
<body>
<header>
    <img src="../static/imagens/Logo200.png" alt="Logo">
    <nav>
        <a href="sobrenos.html">Sobre-nós</a>
        <a href="noticias.html">Notícias</a>
        <a href="doadores.html">Doadores</a>
        <a href="contatos.html">Contatos</a>
        <a href="login.html">Entre ou Cadastre-se</a>
    </nav>
</header>
<main>
    <section>
        <h1>Bem-vindo à Biblioteca Escolar: um mundo de conhecimento</h1>
        <p>Descubra os livros mais lidos, escreva resenhas, controle empréstimos e devoluções, faça login como aluno, professor ou bibliotecário e participe dessa jornada de leitura e doação de livros.</p>
    </section>
    <section>
        <h2>Ajude a incentivar a leitura</h2>
        <p>Faça uma doação de livro e enriqueça o mundo com conhecimento!</p>
        <a href="doadores.html">Doar</a>
    </section>
    <section>
        <h2>Descubra os benefícios da leitura e como a nossa biblioteca promove o hábito.</h2>
        <p>A leitura é uma forma de expandir horizontes, adiquirir conhecimento e estimular a criatividade. Nossa biblioteca oferece uma ampla variedase de livros para todos os gostos e idades, incentivando o hábito de ler.</p>
        <h3>Benefícios</h3>
        <p>Aleitura melhora a concentração, amplia o vocabulário e estimula a imaginação.</p>
    </section>
</main>
</body>
</html>