<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/base.css">
    <title>Ao Jhonatan</title>
</head>
<body class="jhonatan">
    <main class="jhonatan">
        <h1>Em memória</h1>
        <h3>Esta é uma sincera homenagem a um integrante do grupo deste Projeto Integrador, sem ele nada disso teria sido possível, obrigada amigo.</h3>
        <div class="jhonatan">
            <img src="../static/imagens/jhonatan1.jpg" alt="Jhonatan Borges" class="jhonatan">
            <p>21/02/1995 - 05/03/2024</p>
        </div>
        <p>Jhonatan Borges, foi um estimado filho, irmão, amigo, colega, professor e profissional.</p>
        <p>Jhonatan, sua luz brilhava intensamente, um coração generoso, um espírito resiliente. Colega de jornada, amigo verdadeiro, você deixou marcas profundas, memórias que perdurarão. Seu coração grandioso abraçou a todos, sua bondade inestimável tocou vidas. Você era mais do que um colega, era um ser humano ímpar, uma alma querida.</p>
        <p>Hoje, choramos sua partida, mas celebramos a luz que você trouxe. Seu legado permanecerá, Jhonatan, em nossos corações, para sempre.</p>
        <div class="jhonatan"><img src="../static/imagens/jhonatan.jpg" alt=""></div>
        <p class="jhonatan">"Afinal, aquilo que amamos sempre será parte de nós."</p>
        <p id="citação">- Sirius Black, Harry Potter e o Prisioneiro de Azkaban</p>
    </main>
    
</body>
</html>