<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias</title>
    <link rel="shortcut icon" href="../static/imagens/favicon.ico" type="image/x-icon">
</head>
<body>
<header>
    <img src="../static/imagens/Logo200.png" alt="Logo">
    <nav>
        <a href="index.html">Home</a>
        <a href="sobrenos.html">Sobre-nós</a>
        <a href="doadores.html">Doadores</a>
        <a href="contatos.html">Contatos</a>
        <a href="login.html">Entre ou Cadastre-se</a>
    </nav>
</header>