<!DOCTYPE html> 
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre-nós</title>
    <link rel="shortcut icon" href="../static/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
            <img src="../static/imagens/Logo200.png" alt="Logo">
            </div>
    
            <ul class="menu">
                <li><a href="{{ url_for ('homepage') }}">Home</a></li>
                <li><a href="{{ url_for ('noticias') }}">Notícias</a></li>
                <li><a href="{{ url_for ('doadores') }}">Doadores</a></li>
                <li><a href="{{ url_for ('contatos') }}">Contatos</a></li>
                <li><a href="{{ url_for ('login') }}" class="link-login">Entre ou Cadastre-se</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Nossa História e Missão</h1>
        <h2>Origens Inspiradoras</h2>
        <p>Nossa jornada começou nas ruas tranquilas de Natividade da Serra, onde um grupo de entusiastas apaixonados por livros e tecnologia se reuniu. Inspirados pelos objetivos e missão do Projeto Integrador e pela necessidade de conectar leitores e conhecimento, embarcamos em uma busca incansável.</p>
        <h2>Foco na Educação</h2>
        <p>Após análises detalhadas e muitos debates, encontramos nosso propósito:<strong> transformar a experiência de leitura nas escolas</strong>. Observamos que a informatização das bibliotecas escolares poderia ser a chave para atrair mais leitores e doadores de livros.</p>
        <h2>Missão Clara</h2>
        <p>Nossa missão é simples e poderosa: <strong>informatizar bibliotecas escolares</strong>. Acreditamos que a tecnologia pode ser uma aliada na redescoberta do livro físico. Queremos estimular a cultura leitora, facilitar o acesso aos acervos e criar um ambiente onde a curiosidade floresça.</p>
        <div id="junte-se"><a href="{{url_for ('login')}}" >Junte-se a Nós!</a></div><br>
        <p>Venha fazer parte dessa jornada literária conosco. 📚✨</p>
    </main>
    <footer><p>Site criado por <a href="https://github.com/Milena-Aphiner/Projeto-Integrador-I" target="_blank">DRP03-Grupo 24</a> para <a href="https://univesp.br/home_page_full" target="_blank">UNIVESP</a>.</p></footer>
</body>