<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página do Usuário</title>
    <link rel="shortcut icon" href="../static/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body id="usuario">
    <header>
        <nav>
            <div class="logo">
                <img src="../static/imagens/Logo200.png" alt="Logo">
            </div>

            <ul class="menu">
                <li><a href="{{ url_for ('homepage') }}">Home</a></li>
                <li><a href="{{ url_for ('sobrenos') }}">Sobre-nós</a></li>
                <li><a href="{{ url_for ('noticias') }}">Notícias</a></li>
                <li><a href="{{ url_for ('doadores') }}">Doadores</a></li>
                <li><a href="{{ url_for ('contatos') }}">Contatos</a></li>
            </ul>
        </nav>
    </header>
    <main id="usuario">
        <h1>Bem-vindo à Página do Usuário!</h1>
        <h2>Em Manutenção</h2>
        <p>Nossa página do usuário está passando por melhorias e em breve estará repleta de funcionalidades incríveis! <br>Aqui está um vislumbre do que você poderá fazer:</p>
        <h3>Para Bibliotecários:</h3>
        <ul>
            <li><strong>Cadastro de Livros:</strong> Adicione novos livros ao nosso acervo. Informe detalhes como título, autor, gênero e ISBN.</li>
            <li><strong>Empréstimos:</strong> Gerencie empréstimos de livros para os usuários. Registre datas de retirada e devolução.</li>
            <li><strong>Administração de Usuários:</strong> Mantenha registros dos usuários da biblioteca, incluindo informações de contato e histórico de empréstimos.</li>
            <li><strong>Fila de Espera:</strong> Gerencie a lista de espera para livros populares. Notifique os usuários quando os livros estiverem disponíveis.</li>
        </ul>
        <h3>Para Alunos:</h3>
        <ul>
            <li><strong>Pesquisa de Livros:</strong> Encontre facilmente os livros que você deseja ler. Pesquise por título, autor ou palavra-chave.</li>
            <li><strong>Sugestões no Hall dos Professores:</strong> Descubra recomendações de leitura feitas pelos nossos professores. Explore novos gêneros e autores.</li>
            <li><strong>Histórico de Empréstimos:</strong> Acompanhe os livros que você já pegou emprestado e as datas de devolução.</li>
        </ul>
        <h3>Para Professores:</h3>
        <ul>
            <li><strong>Administração no Hall:</strong> Personalize sua página no Hall dos Professores. Compartilhe informações sobre suas áreas de pesquisa e interesses literários.</li>
            <li><strong>Escreva Resenhas:</strong> Compartilhe suas opiniões sobre os livros que leu. Ajude outros usuários a escolherem suas próximas leituras.</li>
            <li><strong>Visualize Rankings e Estatísticas:</strong> Veja quais livros são os mais populares entre os alunos. Acompanhe estatísticas de empréstimos e devoluções.</li>
        </ul>
        <p>Estamos ansiosos para oferecer a você uma experiência completa em breve! Enquanto isso, continue explorando nossa biblioteca física e virtual. 📚✨</p>

        <p>Se tiver alguma dúvida ou sugestão, entre em contato com nossa equipe de suporte. Agradecemos pela sua paciência durante a manutenção! </p>
    </main>
    <footer><p>Site criado por <a href="https://github.com/Milena-Aphiner/Projeto-Integrador-I" target="_blank">DRP03-Grupo 24</a> para <a href="https://univesp.br/home_page_full" target="_blank">UNIVESP</a>.</p></footer>
</body>
</html>