@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor0: #E3E7EB;
    --cor1: #FEFFFE;
    --cor2: #02668C;
    --cor3: #427BA1;
    --cor4: #679437;
    --cor5: #3D5C1B;
    --cor6: #cecece;

    --fonte-destaque: 'Archivo Black', 'Bebas Neue', 'sans-serif';
    --fonte-menu-conteúdo: 'Montserrat', arial, verdana, helvetica, sans-serif;
    --fonte-padrão: 'Roboto', arial, verdana,helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor2);
    font-family: var(--fonte-menu-conteúdo);
}

header{
    background-color: transparent;
    background-image: url("../imagens/menurasgado.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding: 10px;
    width: 100%;
    height: 191px;
}

.logo img{
    width: 134px;
    margin-left: 10px;
    margin-top: -20px;
}

.logo {
    flex: 1;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{
    padding: 15px 10px;
    font-size: 16px;
}

nav {
    padding: 5px 30px;
    display: flex;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: var(--fonte-menu-conteúdo);
    padding: 10px;
}

nav  a:hover {
    color: var(--cor1);
    background-color: var(--cor2);
    border-radius: 20px;
}

a.link-login {
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    background-color:var(--cor6);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.575);
}

a.link-login:hover {
    color: var(--cor1);
    background-color: var(--cor4);
    border-radius: 20px;
}

section#login {
    display: flex;
    background-color: var(--cor0);
    max-width: 600px;
    margin: auto;
    align-content: center;
    border-radius: 20px;
}

div#imagem {
    display: inline-block;
    height: 290px;
    width: 200px;
    border-radius: 20px 0px 0px 20px;
    background-image: url("../imagens/livros-lateral.jpg");
}

div#form_fundo {
    display:inline-block;
    padding: 20px;
    height: 290px;
}

div#form_fundo > h1 {
    padding: 0px 20px 10px 10px;
}

div#form_fundo > p {
    padding: 10px;
}

div#form_frente {
    padding: 10px;
    width: 100%;
    margin: auto;
}

input.login {
    margin: 10px;
    padding: 6px;
    border-radius: 20px;
    border: none;
    width: 100%;
}

button#btn_login {
    display: inline-block;
    padding: 10px;
    background-color: var(--cor4);
    color: var(--cor1);
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 10px;
    margin-left: 150px;
    font-weight: bold;
}

button#btn_login:hover {
    background-color: var(--cor5);
}

button#btn_cadastro {
    display: inline-flex;
    padding: 10px;
    background-color: var(--cor4);
    color: var(--cor1);
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 10px;
    margin: auto
}

button#btn_cadastro a {
    text-decoration: none;
    font-family: var(--fonte-menu-conteúdo);
    color: var(--cor1);
}

button#btn_cadastro:hover {
    background-color: var(--cor5);
}

button#btn_cadastro2 {
    display: inline-flex;
    padding: 10px;
    background-color: var(--cor4);
    color: var(--cor1);
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 10px;
    margin: 0px 0px 0px 260px;
}

button#btn_cadastro2 a {
    text-decoration: none;
    font-family: var(--fonte-menu-conteúdo);
    color: var(--cor1);
}

button#btn_cadastro2:hover {
    background-color: var(--cor5);
}

main#main_doadores {
    background-color: var(--cor0);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);
    text-align: justify;
}

main#main_doadores > h1 {
    text-align: center;
    padding: 10px;
    /*background-image: linear-gradient(to right, var(--cor3), transparent, var(--cor3));*/
    color: var(--cor4);
    font-family: var(--fonte-destaque);
}

main#main_doadores > p#sub {
    text-align: center;
    padding: 20px;
}

main#main_doadores > h2 {
    padding: 20px 0px 20px 0px;
    color: var(--cor2);
}

main#main_doadores > h3 {
    padding: 30px 0px 30px 0px;
}

main#main_doadores > p {
    padding: 20px 0px 20px 0px;
}
footer {
    color:#cecece96;
    background-color: var(--cor5);
    text-align: center;
    font-family: var(--fonte-padrão);
    padding: 2px;
 }

 footer > p > a {
    text-decoration: none;
    color: #cecece96;
    font-size: small;
 }

 footer > p > a:hover {
    color: var(--cor1);
 }